#
######### Test filesystem name prefix/suffix-based transition policy module ##########
#

# Name prefix/suffix-based type transition context:
type test_filesystem_prefixsuffixtranscon1_t;
files_type(test_filesystem_prefixsuffixtranscon1_t)
type test_filesystem_prefixsuffixtranscon2_t;
files_type(test_filesystem_prefixsuffixtranscon2_t)
type test_filesystem_prefixsuffixtranscon3_t;
files_type(test_filesystem_prefixsuffixtranscon3_t)
type test_filesystem_prefixsuffixtranscon4_t;
files_type(test_filesystem_prefixsuffixtranscon4_t)
type test_filesystem_prefixsuffixtranscon5_t;
files_type(test_filesystem_prefixsuffixtranscon5_t)
type test_filesystem_prefixsuffixtranscon6_t;
files_type(test_filesystem_prefixsuffixtranscon6_t)

# Create file and change context via name prefix/suffix-based type_transition rule:
fs_associate(test_filesystem_prefixsuffixtranscon1_t)
type_transition test_filesystem_t test_filesystem_file_t:file test_filesystem_prefixsuffixtranscon1_t "name_trans_test_file_prefix";
allow test_filesystem_t test_filesystem_prefixsuffixtranscon1_t:file { create getattr open write };

fs_associate(test_filesystem_prefixsuffixtranscon2_t)
type_transition test_filesystem_t test_filesystem_file_t:file test_filesystem_prefixsuffixtranscon2_t "name_trans_test_file_prefix" prefix;
allow test_filesystem_t test_filesystem_prefixsuffixtranscon2_t:file { create getattr open write };

fs_associate(test_filesystem_prefixsuffixtranscon3_t)
type_transition test_filesystem_t test_filesystem_file_t:file test_filesystem_prefixsuffixtranscon3_t "name_trans_test_file_prefix_longer" prefix;
allow test_filesystem_t test_filesystem_prefixsuffixtranscon3_t:file { create getattr open write };

fs_associate(test_filesystem_prefixsuffixtranscon4_t)
type_transition test_filesystem_t test_filesystem_file_t:file test_filesystem_prefixsuffixtranscon4_t "name_trans_test_file_suffix";
allow test_filesystem_t test_filesystem_prefixsuffixtranscon4_t:file { create getattr open write };

fs_associate(test_filesystem_prefixsuffixtranscon5_t)
type_transition test_filesystem_t test_filesystem_file_t:file test_filesystem_prefixsuffixtranscon5_t "name_trans_test_file_suffix" suffix;
allow test_filesystem_t test_filesystem_prefixsuffixtranscon5_t:file { create getattr open write };

fs_associate(test_filesystem_prefixsuffixtranscon6_t)
type_transition test_filesystem_t test_filesystem_file_t:file test_filesystem_prefixsuffixtranscon6_t "longer_name_trans_test_file_suffix" suffix;
allow test_filesystem_t test_filesystem_prefixsuffixtranscon6_t:file { create getattr open write };

### NFS Rules ##########
type_transition test_filesystem_t test_file_t:file test_filesystem_prefixsuffixtranscon1_t "name_trans_test_file_prefix";
type_transition test_filesystem_t test_file_t:file test_filesystem_prefixsuffixtranscon2_t "name_trans_test_file_prefix" prefix;
type_transition test_filesystem_t test_file_t:file test_filesystem_prefixsuffixtranscon3_t "name_trans_test_file_prefix_longer" prefix;
type_transition test_filesystem_t test_file_t:file test_filesystem_prefixsuffixtranscon4_t "name_trans_test_file_suffix";
type_transition test_filesystem_t test_file_t:file test_filesystem_prefixsuffixtranscon5_t "name_trans_test_file_suffix" suffix;
type_transition test_filesystem_t test_file_t:file test_filesystem_prefixsuffixtranscon6_t "longer_name_trans_test_file_suffix" suffix;
allow test_filesystem_prefixsuffixtranscon1_t test_filesystem_file_t:filesystem { associate };
allow test_filesystem_prefixsuffixtranscon2_t test_filesystem_file_t:filesystem { associate };
allow test_filesystem_prefixsuffixtranscon3_t test_filesystem_file_t:filesystem { associate };
allow test_filesystem_prefixsuffixtranscon4_t test_filesystem_file_t:filesystem { associate };
allow test_filesystem_prefixsuffixtranscon5_t test_filesystem_file_t:filesystem { associate };
allow test_filesystem_prefixsuffixtranscon6_t test_filesystem_file_t:filesystem { associate };
